.card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    
  }
  .portfolio-card {
    width: 40%;
    margin-bottom: 2em;
  
  
  }
  .portfolio-header-image {
    background-image: url('src/assets/images/code_image.svg');
    background-size: cover;
  }