<div id="hero-image1">
  <div class="hero-text">
      <h1>Hi, I'm Benjamin Weinberger</h1>
      <p class="aboutText">I am a 29 year old Software Engineer living in Tucson, AZ with a strong background in fostering growth in teams, mentoring others, and troubleshooting complicated problems with out of the box solutions.</p>
  <br>
      <p class="aboutText">Come take a look at my portfolio site and some of my recent accomplishments along with my current resume. Please fill out the contact form or email me directly for more information!</p>
  </div>
</div>
