$primaryColor: (
   50 : #eff6f7,
   100 : #d7e7ea,
   200 : #bcd8dc,
   300 : #a1c8ce,
   400 : #8cbcc4,
   500 : #78b0b9,
   600 : #70a9b2,
   700 : #65a0aa,
   800 : #5b97a2,
   900 : #488793,
   A100 : #eefcff,
   A200 : #bbf4ff,
   A400 : #88ebff,
   A700 : #6ee7ff,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #000000,
       400 : #000000,
       500 : #000000,
       600 : #000000,
       700 : #000000,
       800 : #000000,
       900 : #ffffff,
       A100 : #000000,
       A200 : #000000,
       A400 : #000000,
       A700 : #000000,
   )
);


$secondaryColor: (
   50 : #f7f0ef,
   100 : #ead9d7,
   200 : #dcc0bc,
   300 : #cea7a1,
   400 : #c4948c,
   500 : #b98178,
   600 : #b27970,
   700 : #aa6e65,
   800 : #a2645b,
   900 : #935148,
   A100 : #fff0ee,
   A200 : #ffc3bb,
   A400 : #ff9688,
   A700 : #ff7f6e,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #000000,
       400 : #000000,
       500 : #000000,
       600 : #000000,
       700 : #ffffff,
       800 : #ffffff,
       900 : #ffffff,
       A100 : #000000,
       A200 : #000000,
       A400 : #000000,
       A700 : #000000,
   )
);